<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="nav_bar.html :: headerfiles">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<header th:insert="nav_bar.html :: nav"></header>
	<div th:switch="${servicios}" class="container my-5">
		<div class="row">
			<div class="col-md-10">
				<h2 th:case="null">No existen servicios por el momento</h2>
				<div th:case="*">
					<h2 class="my-5">Servicios</h2>
					<table class="table table-striped table-responsive-md">
						<thead>
							<tr>
								<th>Cedula Conductor</th>
								<th>Placa del Bus</th>
								<th>Numero de la ruta</th>
								<th>Fecha Inicio</th>
								<th>Fecha Fin</th>
								<th>Editar</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="servicio : ${servicios}">
								<td th:text="${servicio.tmio1Conductore.cedula}"></td>
								<td th:text="${servicio.tmio1Bus.placa}"></td>
								<td th:text="${servicio.tmio1Ruta.numero}"></td>
								<td th:text="${servicio.id.fechaInicio}"></td>
								<td th:text="${servicio.id.fechaFin}"></td>
								<td><a class="btn btn-primary"	th:href="@{/servicios/add/}"><i
									 class="fas fa-pencil-alt ml-2">Editar</i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<p class="my-5">
					<a href="/servicios/add/" class="btn btn-primary"><i
						class="fas fa-plus"></i> Agregar servicio</a>
				</p>
			</div>
		</div>
	<form action="#" th:action="@{/servicios/search/}" th:object="${servicioSearched}" method="post"> 
			<input type="date" th:field="*{id.fechaInicio}" id="fechaInicio">
			<input type="submit" name="action" class="btn btn-primary" value="Buscar servicio por fecha">
		</form>
		<br>
		<a href="/"><i class="fas fa-home ml-2"></i> Volver al inicio</a>
	</div>
</body>
</html>