<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="nav_bar.html :: headerfiles">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">

</head>
<body>
	<header th:insert="nav_bar.html :: nav"></header>
	<div th:switch="${apps}" class="container my-5">
		<div class="row">
			<div class="col-md-6">
				<h2 th:case="null">Opciones</h2>
				<br>
				<div sec:authorize="hasRole('admin')">
					<p>
						<a href="/buses/"><i class="fas fa-bus-alt"></i> Buses</a>
					</p>
					<p>
						<a href="/conductores/"><i class="fas fa-walking"></i>
							Conductores</a>
					</p>
					<p>
						<a href="/rutas/"><i class="fas fa-road"></i> Rutas</a>
					</p>
					<p>
						<a href="/sitios/"><i class="fas fa-road"></i> Sitios</a>
					</p>

				</div>
				<div sec:authorize="hasRole('operador')">
					<p>
						<a href="/servicios/"><i class="fas fa-business-time"></i>
							Servicios</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>